body {
}

.ComLabel {
    width: 100%;
}

.CommentFormContent {
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    position: center;
    width: 40%;
    height: auto;
    padding: 20px;
}

.CommentTitle {
    width: 100%;
    position: center;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    max-width: 100%;
}

.CommentContent {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 200px;
    max-width: 100%;
}

.ComLabel {
    margin: 5px;
}

#commentTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
}

    #commentTable td, #commentTable th {
        border: 1px solid #ddd;
        padding: 8px;
    }

#comment {
    width: 70%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.comBtn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

span label {
    text-shadow: 20px 12px 2px #808080;
    font-size: large;
    text-align: center;
    width: 100%;
}